DUFFEL_API_KEY="your_duffel_sandbox_key_here"
WEATHER_API_KEY = "your_duffel_sandbox_key_here"
GROQ_API_KEY="your_key_here"
RESEND_API_KEY="your_key_here"


DATABASE_URL=postgresql://veyora:veyora_pass@localhost:5432/veyora_db
